/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html {
    
    scroll-behavior: smooth;
}
body {
    text-transform: capitalize;
    font-family: "cairo", sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* start variables */
:root{
--main-color:#2196F3;
--main-color-alt:#1787e0;
--main-transition:0.3s;
--main-padding-top:100px;
--main-padding-bottom:100px;
--section-color:#ececec;
}
/* end variables */
/* start comp */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px ;

}
.spikes {
    position: relative;
}
.spikes:after {
    content:"";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index:1 ;
    background-image:
    linear-gradient(135deg, white 25%, transparent 25% ),
    linear-gradient(225deg, white 25%, transparent 25% ) ;
    background-size: 30px 30px;
}
.dots {
    background-image: url("../images/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;    
}
@media (max-width:991px) {

    .dots {
        display: none;
    }
}
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.main-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 80px;
    border: 2px solid black;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    transition: var(--main-transition);
    z-index: 1;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-title:hover::after{
    animation-name: right-move;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: -1;
}
.main-title:hover::before{
    animation-name: left-move;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: -1;
}
.main-title::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}
.main-title::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}
/* end global rules */

/* start animation */
@keyframes landing {

    0%,100% {
        top: 0;
    }
    50% {
        top: -40px;
    }

}

@keyframes icon {
0%,10%,20%,50%,80%,100%{
    transform: translateY(0);
}
40%,60% {
    transform: translateY(-15px);
}

}
@keyframes right-move {
    50%{
        right: 0;
        border-radius: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        width: 100%;
        height: 100%;
        right: 0;
    }
}
@keyframes left-move {

    50%{
        width: 12px;
        height: 12px;
        left: 0;
        border-radius: 0;

    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        left: 0;
    }
}
@keyframes left-right {
    0%,10%,20%,50%,80%,100%{
        transform: translateX(0);
    }
    40%,60% {
        transform: translateX(-15px);
    }
        
}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */

/* start heading */
header {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    --webkit-box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    /* overflow: hidden; */

}
header .container .logo {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;

}
@media (max-width:767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }
}
header .container nav {
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    header .container nav  {
        margin: auto;
    }
}
header .container nav ul {
    display: flex;

}

header .container nav .color {
    color: black;
    padding: 0px 30px;
    height: 72px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width:767px) {
    header .container nav .color {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
header .container nav ul li .color::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    width: 100%;
    height: 3px;
    transition: var(--main-transition);

}
header .container nav .color:hover  {
    color: var(--main-color-alt);
    background-color:#fafafa;  

}
header .container nav li .color:hover::before {
    left: 0;
}

header .pop-menu {
    border-bottom: 4px solid var(--main-color-alt);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c4c3c35c;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: calc(100% + 50px);
    left:0;
    background-color: white;
    transition: top var(--main-transition, opacity var(--main-transition));
    padding: 30px;
}
header nav .active:hover .pop-menu {
    opacity: 1;
    z-index: 1;
    top: calc(100% + 2px);
}
header .pop-menu img {
    height: 100%;
    width: 50%;
    max-width: 100%;
}
header .pop-menu  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    max-width: 250px;    
}
header .pop-menu  ul li a {
        display: block;
        color: var(--main-color);
        border-bottom: 1px solid #c4c3c35c;
        color:var(--main-color);
        font-weight: bold;
        text-align: left;
        padding: 15px;
        font-size: 18px;

    }
    header .pop-menu  ul li a:hover {
        text-decoration: underline;
    
    }
    .active {
        transition: 0.3s;
    }
header .pop-menu  ul li i {
    margin-right: 10px;
    text-align: center;
}

/* end heading */
/* start landing */
.landing {
    position: relative;
    padding: 60px;
}
.landing::before {
    content: '';
    position: absolute;
    top:  -40px;
    left: 0; 
    width: 100%;
    height: 100%;    
    background-color: var(--section-color);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width:991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h3{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
}
@media (max-width:767px) {
    .landing .text h3 {
        font-size: 28px;

    }
    }

.landing .text p {
    margin: 5px 0 0;
    font-size: 23px;
    color: #666;
    line-height: 1.6;
    max-width: 500px;
}
@media (max-width:991px) {
    .landing .text p {
        margin: 20px auto;
    }
}
@media (max-width:767px) {
    .landing .text p {
        font-size: 18px;

    }
    }

.landing .img img{
    width: 600px;
    animation-name: landing;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}

@media (max-width:991px) {
    .landing .img img {
        display:none;
    }
}

.landing .container .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: var(--main-color-alt);
    transition: var(--main-transition);
    transform: translateX(-50%);
}
.landing .container i {
    position: absolute;
    bottom: -10px;
    left: 50%;
    color: var(--main-color);
    animation-name: icon;
    animation-duration: 1.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

/* end landing */

/* start articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.articles .container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    /* column-gap: 45px;
    row-gap: 40px; */
}
.articles .container  .box {
    border-radius:6px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);;
    background-color: white;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .container  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
    
}
.articles .container  .box img {
    width: 100%;
    max-width: 100%;
    padding-bottom: 15px;
}
.articles .container .box .content {
    padding: 0px 20px;
}
.articles .container .box .content h3 {
     /* padding: 10px; */
     margin: 0;
    /*font-weight: 800;
    text-transform: uppercase;
    font-size: 23px; */
}

.articles .container .box .content  p {
    padding: 25px 0 ;
    line-height: 1.5;
    color: #777;
}

.articles .container .box  .info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
    color: var(--main-color);
}
.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;

} 
.articles .container .box  .info i {
    font-size: 15px;

    /* transition: var(--main-transition); */

}
.articles .container .box  .info a:visited {
    color: var(--main-color);
} 
.articles .container .box:hover .info i {
    animation: left-right forwards  1.5s infinite  ease-in-out ;
    color: var(--main-color-alt);
} 
/* end articles */
/* Start Gallery */
.gallery {
    position: relative;
    background-color: var(--section-color);
    padding-top:var(--main-padding-top) ;
    padding-bottom:var(--main-padding-bottom) ;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box {
    box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    padding: 15px;
    background-color: white;

}
.gallery .container .image {
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);

}
.gallery .container .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 0px;
    height: 0px;
    background-color:rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 1;
}
.gallery .container .image:hover::before{
    animation: flashing 0.7s;
    
}
.gallery .container img {
    max-width: 100%;
    transition: var(--main-transition);
    
}
.gallery .container .image:hover img {
    transform: scale(1.1) rotate(5deg);
}
    


/* End Gallery */
/* Start features */
.features {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container .box{
    overflow: hidden;
    border: 1px solid #ccc;
    margin-left: 25px;
    transition: var(--main-transition);
}
.features .container .box .image{
    position: relative;
    overflow: hidden;
}
.features .container .box .image::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: white;
    width: 120%;
    height: 50%;
    transform: skewY(-15deg);
    transform-origin: bottom right;
    transition: var(--main-transition);

}
.features .container .box:hover .image::after {
    right: 0;
    bottom: 0;
    transform: skewY(15deg);
    transform-origin: left bottom;
    transition: var(--main-transition);
    position: absolute;
    bottom: -60px;
    transition: var(--main-transition);

}

.features .container .box #one::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: rgb(244 63 54 / 60%);
    width: 100%;
    height: 100%;

}

.features .container .box #two::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: rgb(0 150 136 / 60%);
    width: 100%;
    height: 100%;
}

.features .container .box #three::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    background-color: rgb(3 169 244 / 60%);
    width: 100%;
    height: 100%;
}

.features .container .box .image img{
    max-width: 100%;
}
.features .container .box .text {
    text-align: center;
    text-transform: capitalize;
}
.features .container .box .text .heading {
    text-align: center;
}
.features .container .box .text .heading h1 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size:40px;
}
.features .container .box .text .heading .one::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    height: 5px;
    transform: translateX(-50%);
    background-color:#f44036 ;
    border-radius: 10px;
}
.features .container .box .text .heading .two::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 60%;
    height: 5px;
    transform: translateX(-50%);
    background-color:  #009688;
    border-radius: 10px;
}
.features .container .box .text .heading .three::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    height: 5px;
    transform: translateX(-50%);
    background-color:#03a9f4;
    border-radius: 10px;
}
.features .container .box .text p {
    margin:30px 0;
    padding: 20px;
    font-size: 20px;
    line-height: 2;
    color: #555;
}



.features .container .box a {
    transition: var(--main-transition);
    background-size: 200% 100%;
    background-position: right bottom;

}
.features .container .box:hover a {
    background-position: left bottom;
    color: white;
    
}
.box .link-one {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    color: #f44036;
    border-color: #f44036;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    background:linear-gradient(to right, #f44036 50%,white 50% );

}
.box .link-two {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    color: #009688;
    border-color: #009688;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    background:linear-gradient(to right, #009688 50%,white 50% );

}
.box .link-three {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    color: #03a9f4;
    border-color: #03a9f4;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    background:linear-gradient(to right, #03a9f4 50%,white 50% );

}
/* @media (max-width:991px) {
    .features .container {
        flex-direction: column;
    }
    .features .container .box {
        margin: 20px auto;
    }
} */
/* End features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    column-gap: 40px;
    row-gap: 60px;
}
.testimonials .container .box {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
} 
.testimonials .container .box img {
    position: absolute;
    top: -50px;
    right: -10px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-color);
}
.testimonials .container .box  h3 {
    color: var(--main-color);
    margin-bottom: 10px;
    font-size: 25px;
}

.testimonials .container .box .title {
    display: block;
    margin-bottom: 15px;
    color: #777;
}
.testimonials .container .box .rate .filled {
    
    color: #ffc107;
    margin-bottom: 15px;

}
.testimonials .container .box p {
    color: #777;
    line-height: 1.6;
    margin: 10px 0 0;
}
/* End Testimonials */
/* start members */
.members {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;

}
.members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 40px;
    position: relative;
    justify-items: center;
}
.members .container .box {
    width: 300px;
    padding: 10px;
    position: relative;
    border-radius: 6px;
    z-index: 1;
}
.members .container .box::before,
.members .container .box::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.members .container .box::before {
    width: calc(100% - 60px);
    background-color: #f6f6f6;
    z-index: -2;
}
.members .container .box::after {
    width: 0%;
    z-index: -1;
    background-color: #e4e4e4;
}
.members .container .box:hover::after {
    z-index: -1;
    width: calc(100% - 60px);
    transition: var(--main-transition);
    
}

.members .container .box img {
    max-width: 100%;
    margin-top: 30px;
    margin-left: -55px;
    display: inline-block;
    border-radius: 10px;
    transition: var(--main-transition);
}
.members .container .box:hover img {
    filter: grayscale(100%);
} 
.members .container .box ul {
    display: inline-block;

}
.members .container .box ul li a {
    display: block;
    text-align: center;
    margin: 20px 15px;
}
.members .container .box ul li a i {
    transition: var(--main-transition);
    color: #777;

}
.members .container .box ul li a:hover i {
    color: var(--main-color);
}
.members .container .box .foot {
    padding-left: 70px;
} 
.members .container .box:hover .foot h2 {
    color: #777;
}
.members .container .box .foot h2 {
    color: var(--main-color);
    margin-bottom: 0;
    font-size: 22px;
}
.members .container .box .foot p {
    margin: 10px 0 25px;
    color: black;
    width: 130%;
}
/* end members */
/* start services */
.services{
    background-color: var(--section-color);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services ;
    position: relative;
    transition: var(--main-transition);

}

.services .container .box::before {
    content: '';
    position: absolute;
    top: -3;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box:hover {
    transform: translateY(-10px);
}
.services .container .box i {
    display: block;
    margin: 40px auto 20px;
    text-align: center;
    color: #d5d5d5;
}
.services .container .box h2 {
    color: var(--main-color);
    font-size: 25px;
    margin: 20px 0 30px;
    text-align: center;
}
.services .container .box .foot {
    text-align: right;
    background-color: #f9f9f9;
    position: relative;
    padding: 15px;
    overflow: hidden;
}
/* .services .container .box .foot  {
    background-color: var(--main-color);
    width: 20%;
    padding: 10px;
    position: relative;
} */
.services .container .box .foot::before {
    content: "0"counter(services);
    position: absolute;
    left: 0px;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.services .container .box .foot ::after {
    content: '';
    position: absolute;
    left: 80px;
    top: 0;
    width: 50px;
    height: calc(100% + 0.5px);
    background-color: #d5d5d5;
    transform: skewX(-30deg);
    transform-origin: top left;
}
/* .services .container .box .foot  p {
    color: white;
    font-size: 22px;
    font-weight: bolder;
} */
.services .container .box .foot a {
    color: var(--main-color);
    padding-right: 25px;
}
/* end services */
/* start our skills */
.our-skills {
    background-color: white;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.our-skills .container {
    display: flex;
    align-items: center;
}
.our-skills .container img {
    flex: 1;
}
@media (max-width:991px) {
    .our-skills .container img {
        display: none;
    }
}
.our-skills .container .skills {
    flex: 1;
}
.our-skills .container .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.our-skills .container .skill h3 span {
    color: var(--main-color);
    border: 1px solid black;
    font-size: 10px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}
.our-skills .container .skill .prog {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #d5d5d5;
    margin-bottom: 20px;
}
.our-skills .container .skill .prog  span {
    display:block;
    height: 100%;
    background-color: var(--main-color);
}
/* end our skills */
/* start works */
.works {
    background-color: var(--section-color);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.works .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.works .container .image {
    max-width: 100%;
    margin-right: 100px;
}
.works .container .box-container  {
    flex-direction: column;
    display: flex;
}

.works .container .box-container .box {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f6f5f5;
    border: 3px solid white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    z-index: 1;
}
.works .container .box-container .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50% , -50%);
    background-color: #ededed;
    transition: var(--main-transition);
    z-index: -1;

}
.works .container .box-container .box:hover::before {
    width: 100%;
    height: 100%;
}
.works .container .box-container .box img {
    width: 64px;
    margin-right: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.works .container .box-container .box .text {
    padding: 10px;
}
.works .container .box-container .box .text h3 {
    font-size: 22px;
    margin: 0;
    }

.works .container .box-container .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
@media (max-width:991px) {
    .works .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .works .container .image img {
        max-width: 100%;
        margin: 0 auto;
    }
    .works .container .box-container .box {
        margin: 10px auto;
    }
    .works .container .box-container {
        flex-direction: column;
        display: flex;
        margin-top: 100px;
    }
}
/* end works */
/* Start events */
.events  {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.events .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
@media (max-width:991px) {
    .events .container {
        flex-direction: column;
        gap: 15px;
        overflow: hidden;
    }
    .events .container .image img {
        display: none;
    }   
    .events .container .next-part .date {
        max-width: 100%;
        margin: 0 auto;;   
    }
    .num {
    width: 18%;
    text-align: center;
    }

    }


.events .container .image img {

    max-width: 450px;


}
.events .container .next-part {
    flex: 1;
         
}

.events .container .next-part .date {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.events .container .next-part .text h2 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0 0;
}
.events .container .next-part .text  p {
    color: #777;
    text-align: center;
    padding-top: 25px;
    line-height: 1.7;
    font-size: 19px;
}
.events .container .next-part .date .number {
    padding: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #d4d4d4;
    border-radius: 6px 6px 0 0;
    color: var(--main-color);
    transition: var(--main-transition);
}
.events .container .next-part .date .num {
    background-color:white;
}
.events .container .next-part .date .num:hover .number,
.events .container .next-part .date .num:hover .letter {
    border-color: var(--main-color-alt);
}
.events .container .next-part .date .num:hover .letter {
    color: black;

}
.events .container .next-part .date .letter {
        font-weight: normal;
        color: #d4d4d4;
        font-size: 13px;
        padding: 8px 10px;
        border: 1px solid #d4d4d4;
        text-align: center;
        border-radius: 0 0 6px 6px;
        transition: var(--main-transition);

    }
.events  .subscribe {
    width: 100%;
}
.events  .form {
    padding: 30px 40px;
    margin: 20px auto;
    background-color: #f6f5f5;
    width: 600px;
    display: flex;
    gap: 20px;
    border-radius: 50px;
}
@media (max-width:767px) {
    .events  .form {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
        border-radius: 0;
    }
}
.events  #input:focus {
    outline: 1px solid var(--main-color);

}

.events  #input:focus::placeholder {
    opacity: 0;

}
.events  #input::placeholder {
    transition: opacity var(--main-transition);
}
.events  #input {
    color: black;
    text-transform: capitalize;
    padding: 15px;
    border-radius: 50px;
    border-style: none;
    flex: 1;
    caret-color: var(--main-color);    
    }

    @media (max-width:767px) {
        .events  #input {

            border-radius: 0;
        }
    }
.events  .form .button {
    color: white;
    background-color: var(--main-color);
    padding: 20px;
    border-style: none;
    border-radius: 50px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: var(--main-transition);
}
@media (max-width:767px) {
    .events  .form .button {
        border-radius: 0;
    }
}
.events  .form .button:hover {
    background-color:var(--main-color-alt);
}

/* End events */    
/* start price */
.plans {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
    position: relative;
}
.plans .dots {
    background-image: url("../images/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.plans .dots-up {
    top: 200px;
    right: 0;

}
.plans .dots-down {
    bottom: 200px;
    left: 0;
}
.plans .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;

}
.plans .container .cards {
    background-color: white;
    position: relative;
    padding:10px ;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    overflow: hidden;
}
.plans .container .cards::before{
    content: "";
    width: 0;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -3;

}
.plans .container .cards::after{
    content: "";
    width: 0;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    z-index: -3;
    transition: var(--main-transition);

}
.plans .container .cards:hover {
    transform: translateY(-20px);
}
.plans .container .cards:hover::before{
    width: 100%;
}
.plans .container .cards:hover::after  {
    width: 100%;
}
/* .plans .container .cards:nth-child(2)::before{
    content: "Most Popular";
    position: absolute;
    top: 0;
    right: 10px;
    width: 45px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    text-align: start;
    text-transform: capitalize;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;

} */
/* .plans .container .cards:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 160px;
    right: 15px;
    width: 35px;
    background-color: white;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    height: 15px;
    transform: skew(69deg, -24deg);
    z-index: 1;

} */
.plans .label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: transparent transparent white transparent;
    border-width: 20px;
    border-style: solid;
}
 .plans .label {
    position: absolute;
    right: 20px;
    top: 0;
    text-align: center;
    padding: 20px;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    background-color: var(--main-color);
    color: white;
    width: 40px;

}
.plans .label p {
    margin: 0px -9px 13px;
}
 .plans .container .cards:nth-child(2) img {
    /* margin-top: -111px; */
 }
.plans .container .cards .head > p {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}
.plans .container .cards > p {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.plans .container .cards img {
    width: 80px;
    margin: 20px ;
    transform: translateX(-50%);
    margin-left: 50%;
}

.plans .container .cards .price {
    text-align: center;
    
}

.plans .container .cards .price i {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);    
}
.plans .container .cards .price .num {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    padding: 5px;
}

.plans .container .cards .price .month {
    color: #777;

}

.plans .container .cards  .foot ul li::before {
    content: '\f00c';
    font-weight: 900;
    font-family: 'font awesome 5 free';
    position: absolute;
    left: 5px;
    top: 15px;
    width: 30px;
    color: var(--main-color);
    font-size: 20px;
}
.plans .container .cards  .foot ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 107%;
    height: 1px;
    background-color: #eee;
}
.plans .container .cards  .foot ul li  {
    padding: 20px 30px;
    position: relative;
}
.plans .container .cards  a {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 15px 10px;
    border-radius: 6px;
    border: 3px solid var(--main-color);
    width: fit-content;
    position: relative;
    font-weight: bolder;
    color: var(--main-color);
    transition: var(--main-transition);
}
/* .plans .container .cards:nth-child(2)  a:hover {
    color: white;

} */

.plans .container .cards a:hover {
    color: white;

}

.plans .container .cards  a::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 104%;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    z-index: -1;
    color: white;
}
.plans .container .cards  a:hover:before {
    width: 100%;
    z-index: -1;
    color: white;
}
/* end price */
/* start video */
.video {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.video .container {
    display: flex;
}
@media (max-width:991px) {
    .video .container {
        flex-direction: column;
    }   
}
.video .container .list {
    background-color: #f4f4f4;
    border: 2px solid var(--section-color);
}
.video .container .list .head{
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
    padding: 20px 10px;
}
.video .container .list li {
    padding: 10px;
    background-color: white;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.video .container .list li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.video .container .list li span {
    display: block;
    color: #777;
    padding: 10px 0;
}
.video .container .right-side {
    flex: 1;
    padding: 10px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video .container .right-side img {
    max-width: 100%;
}

.video .container .right-side div p {
    background-color: white;
    padding: 20px;
}
/* end video */
/* start our awesome stats */
.stats {
    padding-bottom: var(--main-padding-bottom);
    padding-top: var(--main-padding-top);
    position: relative;
    background-image: url(../images/coding.jpg);
    background-position: center;
    background-size: contain;
    background-clip: border-box;
    background-attachment: fixed;
    min-height: 300px;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.881);
}
.stats h2 {
    color: black ;
    margin: 0px auto 50px;
    width: fit-content;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}
.stats .container {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
@media (max-width:991px) {
    .stats .container {
        gap: 0;
    }
    .stats .container .box {
        padding: 10px 100px;
        margin-top: 80px;
    }    
    
}
.stats .container .box {
    background-color: white;
    color: black;
    text-align: center;
    padding: 30px 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: var(--main-transition);
    
}

.stats .container .box::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 3px;
    height: 0;
    background-color: var(--main-color);
    border-radius: 6px;
    transition: var(--main-transition);

}
.stats .container .box::after {
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 3px;
    height: 0;
    background-color: var(--main-color);
    border-radius: 6px;
    transition: var(--main-transition);
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .container .box i {
    color: black;
    font-size: 40px;

}

.stats .container .box span {
    color: black;
    font-size: 40px;
    padding: 25px 0;
        
}

.stats .container .box p {
    color: var(--main-color);
    font-size: 22px;
    display: block;
    margin: 0 -20px 0;
    font-style: italic;        
}
/* end our awesome stats */
/* start discount */
.discount {
    display: flex;
    position: relative;
}
.discount .left-side {
    padding-top: calc(var(--main-padding-top) + 100px);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image:url("../images/discount-background1.jpg");
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 50%;
    animation-name: identifier ;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition:animation  10s;
    background-size: cover;
    z-index: 1;
}

@keyframes identifier {
    
    0%, 100% {
        background-image:url("../images/discount-background1.jpg");
    
    }
    50% {
        background-image:url("../images/discount-background2.jpg");

    } 
}
.discount .left-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2195f3e5;
    z-index: -1;
}

.discount .left-side h2 {
    color: white;
    font-size: 50px;
    text-align: center;

}
.discount .left-side p {
    color: white;
    line-height: 1.7;
    padding: 70px 66px;
    text-align: center;

}
.discount .left-side img {
    max-width: 100%;
    width: 300px;

}
.discount .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
@media (max-width:991px) {
    .discount {
        flex-direction: column;
    }
    .discount .left-side {
        width: 100%;
    }
    .discount .right-side {
    width: 100%; 
    background-color: white;   
    }
    
}
.discount .right-side h1 {
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;

}
.discount .right-side form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
    text-transform: capitalize;

}
.discount .right-side form input {
    padding-right: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #f6f5f5f5;
    border: none;
    border-bottom: 1px solid #777;
    text-transform: capitalize;
    transition: opacity var(--main-transition);
}
.discount .right-side form input:focus {
    outline: none;
    caret-color: var(--main-color);
    transition: opacity var(--main-transition);


}
.discount .right-side form input:focus::placeholder {
    opacity: 0;
    transition: opacity var(--main-transition);

}
.discount .right-side #big-box {
    padding-bottom: 200px;
    text-transform: capitalize;

}
.discount .right-side form input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    border: none;
    outline: none;
    text-align: center;
    padding: 10px 183px;
    border-radius: 6px;
    cursor: pointer;
}
/* end discount */
/* start footer */
footer {
    background-color:#000000eb;
    padding-bottom: var(--main-padding-bottom);
    padding-top: var(--main-padding-top);
    position: relative;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    position: relative;

}

footer .container .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .container .links .title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: fit-content;
} 
footer .container .links ul {
    display: flex;
    gap: 30px;
}
footer .container .links ul li {
    padding-top: 20px;
}
footer .container .links ul li a {
    color: #ccc;
    padding: 20px;
    background-color: #777;
}
footer .container .links ul li:nth-child(1) a:hover {
    background-color: blue;
    color: white;
} 
footer .container .links ul li:nth-child(2) a:hover {
    background-color: purple;
    color: white;
}
footer .container .links ul li:nth-child(3) a:hover {
    background-color: black;
    color: white;
}
footer .container .links p {
    color: #777;
    padding: 40px 0;
    line-height: 1.7;
    font-style: italic;

}
footer .container .links-2 {
    font-style: italic;
    position: relative;
}

footer .container .links-2  li:not(:last-of-type){
    border-bottom: 1px solid #454444;

}
footer .container .links-2  li{
    padding: 10px 30px;
    margin-bottom: 15px;
    color: var(--main-color);
    position: relative;
    transition: var(--main-transition);
}
footer .container .links-2  li:hover a {
    display: inline-block;
    transform: translateX(10px);

}
footer .container .links-2  li:hover i {
    transform: translateX(10px);
}
footer .container .links-2  li:first-of-type {
    border-bottom: 1px solid #454444;
    
}

footer .container .links-2  li i {
    color: var(--main-color);
    font-size: 16px;
    padding: 0 25px 0 0;
}
footer .container .links-2  li a {
    position: relative;
    color: #d4d4d4;

}
footer .container .links-2  li a:hover {
    color: var(--main-color-alt);
}

footer .container .link-3 {
font-style: italic;
    margin-left: 20px;
}

footer .container .link-3 li {
    color: #d4d4d4;
    padding: 10px;
    margin-bottom: 30px;
    line-height: 2;
    position: relative;
}

footer .container .link-3 .first:before {
    content: "\f3c5";
    font-family: "font awesome 5 free";
    font-weight: 900;
}

footer .container .link-3 li:before {
    content: "";
    position: absolute;
    top: 15%;
    left: -25px ;
    color: var(--main-color);
    font-size: 25px;
}

footer .container .link-3 .second:before {
    content: "\f017";
    font-family: "font awesome 5 free";
    font-weight: 900;
}

footer .container .link-3 .third:before {
    content: "\f2a0";
    font-family: "font awesome 5 free";
    font-weight: 900;
}

footer .container .images {
    display: block;
}

footer .container .images ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
    gap: 10px;
}
footer .container .images img {
    max-width: 100%;
    width: 150px;
    background: white center;
    padding: 4px;
    position: relative;
}

@media (max-width:769px) {
    footer .container .images ul {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        
    }
    footer .container .images ul img {
        display: none;
    }
}

/* end footer */
.made {
    background-color: #000000eb;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #777;
}
.made p {
    color: #ccc;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.7;
    padding: 10px 0;

}
.made  i {

}